
$mb:559px;
$tab:959px;
$pc:1023px;

/* PC */
@mixin pc {
  @media (max-width:($pc)) {
    @content;
  }
}

/* タブレット */
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}

/* スマホ */
@mixin mb {
  @media (max-width: ($mb)) {
    @content;
  }
}