// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

//=================================
//  import scss
//=================================
  @import './_mixin.scss';


//=================================
//  commons
//=================================

$white: rgba(230, 227, 227, 0.87);

body {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

a.link-white {
  color: $white !important;

}

.v-btn::before {
  background-color: transparent !important;
}

