// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

//=================================
//  import scss
//=================================
  @import './_mixin.scss';


//=================================
//  Color
//=================================

// 背景色
$body-background-color:  #5c5c5c;
$v-main-background-color:  #e9e9e9;
$explain-background-color:   #87d4cabe;
$v-card-background-color:   #e9e9e9;

$header-background-color:    #5c5c5c;
// ヘッダーにあるログインなどをホバーで表示させるメニュー要素の背景色
$hover-menu-background-color:    rgba(214, 214, 214, 0.466);
$profile-background-color:     #c2c2c2;
$footer-background-color:    #5c5c5c;

// リストプレビューでのタイトル背景色
$preview-title-background-color:  #89c7bfbe;

// 新規作成画面でのタグスタイル
$v-chip-form-background-color:  rgb(146, 146, 146);
$v-chip-form-font-color:rgb(233, 233, 233);
// 投稿済みの投稿記事でのタグスタイル
$v-chip-view-background-color:  black;
$v-chip-view-font-color:#fff;


// 各フォントカラー
$main-font-color: rgb(36, 36, 36);
$header-font-color: rgb(209, 209, 209);
$explain-font-color: rgb(230, 230, 230);

//=================================
//  Font-Family
//=================================
$main-font-family: 'Sawarabi Gothic';



// display
body {
  word-wrap: break-word;
  overflow-wrap: break-word;
  background-color: $body-background-color;
}

.v-application {
  font-family: $main-font-family !important;

}

a {
  text-decoration: none;
}

.v-btn {
  &::before {
    background-color: transparent !important;
  }
}

.theme--light.v-card {
  color:$header-font-color;
}

.v-chip-group {
  padding: 10px 5px;
}

.theme--light.v-chip:not(.v-chip--active) {
  margin: 4px 8px 4px 8px !important;
  color:$v-chip-view-font-color  !important;
  background-color: $v-chip-view-background-color !important;
}
